<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/playground">Playground <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/followers">Followers ({{followersCount}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/following">Following ({{followingCount}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/analytics">Analytics</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>
